*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* class utility */
.float_left{
  float: left;
}

.float_right{
  float: right;
}
/* /class utility */

/* body */
body{
  width: 1000px;
  margin: auto;
  background-image: url('../img/sfondo.png');
}
/* /body */

/* header */
header{
  margin: 10px 0;
}
/* prima sezione */
header > .img_alb{
  width: 100%;
  height: 300px;
  position: relative;
  background: red;
}
/* /prima sezione */

/* seconda sezione */
header > nav{
  width: 100%;
  height: 55px;
  background-color: grey;
}

/* /seconda sezione */
/* /header */

/* main */
.container::after{
  content: "";
  display: table;
  clear: both;
}
/* aside left */
main > .aside_l{
  width: 20%;
  height: 400px;
  background-color: white;
  border-radius: 7px;
}

/* /aside left */

/* main */
main > article{
  width: 50%;
  height: 300px;
  background-color: white;
  border-radius: 7px;
  margin: 0 5%;
}

/* aside right */
main > .aside_r{
  width: 20%;
}

.aside_int{
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 7px;
}

/* /aside right */
/* /main */

/* footer */
footer{
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
}
/* /footer */
