*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* class utility */
.float_left{
  float: left;
}

.float_right{
  float: right;
}
/* /class utility */

body{
  width: 65vw;
  margin: auto;
  background-image: url('../img/sfondo.png');
}

header{
  margin: 10px 0;
}

header > .img_alb{
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url(../img/alberi.jpg);
  background-size: cover;
  background-position: center;
  border: 6px solid white;
}

header .h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  border: 3px solid white;
  padding: 10px;
}

header .h2{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 13px;
}

header > nav{
  width: 100%;
  height: 55px;
  background-color: grey;
  text-align: center;
}

nav ul{
  list-style: none;
}

nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  color: white;
  padding: 18px 7px;
  line-height: 55px;
}

ul > li:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

main{
  margin-bottom: 30px;
}

main > .aside_l{
  width: 20%;
  height: 400px;
  background-color: red;
  border: 1px solid black;
}

main > article{
  width: 60%;
  height: 400px;
  background-color: red;
  border: 1px solid black;
}

main > .aside_r{
  width: 20%;
  height: 1200px;
  background-color: red;
  border: 1px solid black;
}

.aside_int{
  width: 100%;
  height: 400px;
  background-color: blue;
  border: 1px solid black;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

footer{
  width: 100%;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}
